@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    cursor: default;
}

html {
    background-image: url(Imagenes/Matrix2.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: "Chakra Petch";
    overflow-x: hidden;
}

#titulo {
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 4px;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 4px;
    color: rgb(0, 170, 0);
    animation: titulo 0.4s;
}

#titulo::selection {
    background: none;
}


span {
    color: rgb(49, 49, 49);
}

span::selection {
    background: none;
}

.contenedor_cajas {
    display: flex;
}

::-webkit-input-placeholder {
    color: rgb(170, 0, 0);
    font-size: 12px;
}

::selection {
    background-color: rgba(0, 128, 0, 0.2);
}

textarea {
    margin: 0;
    width: 100%;
    height: 500px;
    color: white;
    padding: 16px;
    border: 1px solid rgba(0, 128, 0, 0.2);
    resize: none;
    letter-spacing: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: text;
}

textarea:focus {
    outline: none;
    border: 1px solid green;
}

.caja1 {
    padding: 10px;
    width: 70%;
}

.caja2 {
    padding: 10px;
    width: 30%;
}

.caja2 textarea {
    cursor: default;
}

.botones {
    display: flex;
}

.botonEncriptar,
.botonDesencriptar,
.botonCopiar {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    font-size: 20px;
    color: green;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.botonEncriptar {
    margin-right: 2px;
}

.botonDesencriptar {
    margin-left: 2px;
}

button:hover {
    cursor: pointer;
    font-weight: 900;
}

button:active {
    background-color: rgb(255, 255, 255);
    color: black;
    letter-spacing: 20px;
    transition: 0.1s letter-spacing;
}

footer {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    font-style: italic;
    text-align: center;
}

.copyright {
    margin-top: 10px;
}

.imgRedes {
    cursor: pointer;
    width: 40px;
    height: auto;
    margin: 20px 20px 0;
    transition: 0.2s all;
    filter: invert();
}

.imgRedes:hover {
    transform: scale(1.2);
}

@keyframes titulo {

    100% {
        transform: skewX(180deg);
    }
}

::-webkit-scrollbar {
    background: black;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 128, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
    background: green;
}

/* MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA */

@media screen and (max-width: 768px) {

    .contenedor_cajas {
        flex-direction: column;
    }

    ::-webkit-input-placeholder {
        font-size: 10px;
    }

    #titulo {
        font-size: 22px;
    }

    #area-texto,
    #area-texto2 {
        height: 200px;
        font-size: 12px;
    }

    #caja1,
    #caja2 {
        width: 100%;
    }

    .botones {
        flex-direction: row;
    }

    .botonEncriptar,
    .botonDesencriptar,
    .botonCopiar {
        font-size: 14px;
    }

    .botonEncriptar,
    .botonDesencriptar {
        width: 50%;
    }

    button:active {
        background-color: rgb(255, 255, 255);
        color: black;
        letter-spacing: 4px;
        transition: 0.1s letter-spacing;
    }

    .copyright {
        font-size: 14px;
    }

    .imgRedes {
        width: 30px;
        height: auto;
    }

}